#progress_box {
	display: flex;
	flex-direction: row;
	font-family: "Sintony", sans-serif;
	color: #e26e62;
	opacity: 0.9;
}

#button-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.columns {
	width: 33%;
	flex-direction: column;
	font-family: "Monoton";
	font-size: 1.2rem;
	background-image: linear-gradient(0deg, transparent, black);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.col-title {
	display: flex;
	justify-content: center;
	font-size: xx-large;
	margin-bottom: 0.4em;
	margin-top: 1em;
}

.single_task {
	display: flex;
	flex-direction: column;
	font-family: "Sintony";
}

#create-button {
	height: 2rem;
	border: none;
	font-size: 0.6rem;
}
#login-button {
	height: 2rem;
	border: none;
	font-size: 0.6rem;
}

#new-task-button {
	display: flex;
	align-content: flex-start;
	border: none;
}
.log-in-out {
	height: 5rem;
	border: none;
}

.create-button:hover {
	background-color: bisque;
}
